body {
  background-color: #1a1a1a;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup {
  background-color: #dc0235;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
}

h2 {
  color: #ffffff;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #459bfd;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  width: 50%;
  align-self: center;
}

button:hover {
  background-color: #05347f;
}
